.day-todo__input {
	width: 100%;
  font-size: 12px;
  padding: 10px;
	margin: 0 2px;
	max-width: 150px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
}

.day-todo__task-list {
  margin: 0;
  padding-left: 0;
}

.day-todo__task-list__item {
  list-style: none;
  background: #f7f7f7;
  padding: 10px;
	margin: 2px;
  display: flex;
  align-items: center;
  color: #4d4d4d;
}

.day-todo__task-list__item__buttons {
  margin-left: auto;
  padding-left: 10px;
}