.btn {
  font-size: 12px;
  font-weight: 400;

  display: inline-block;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin: 0 2px;
  padding: 10px;

  color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background-color: #db1a87;
}

.btn:hover {
  cursor: pointer;

  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.1));
}

.btn:active {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.1));
}

.btn--inactive {
  background: #e1e1e1;
}

.btn--inactive:hover {
  cursor: auto;

  background-image: none;
}

.btn--inactive:active {
  background-image: none;
}

.btn__icon {
  width: 15px;

  vertical-align: middle;
}

.btn__icon--left {
  margin-right: 5px;
}

.btn__icon--right {
  margin-left: 5px;
}
