.days-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 130px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;

  background: #ff567e;
}

.container {
  font-size: 1em;
  font-weight: bold;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 130px);

  width: 100%;
  height: 100%;

  color: #000;
  border: 1px solid #000;
  background: #ff567e;
}
